<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Student</title>
    <style>
        h1 {
            text-align: center;
        }
        a{
            text-decoration: none;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 20px;
        }
        table{
        border: 2px solide black;
    }
    </style>
</head>

<body>
    <h1>Welcome to student Management</h1>
    <ul>
        <li><a href="/">Link</a></li>
        <li><a href="/">Link</a></li>
        <li><a href="/omnath">Omnath</a></li>
        <li><a href="/">Link</a></li>
    </ul>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, sunt accusantium aspernatur exercitationem
        magni laudantium voluptatibus at a dicta itaque, harum laboriosam sint praesentium officia consequuntur ipsa.
        Eaque unde consequuntur cumque aliquid voluptate recusandae asperiores perspiciatis repudiandae ab architecto
        laborum, provident corrupti similique! Recusandae a officiis possimus, ullam ratione facilis.
    </p>

   {% include "list.html" %}
</body>

</html>